*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


.navItems{
    max-width: 95%;
    margin: 0px auto;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.leftNav{
    display: flex;
    justify-content: space-between;
    width: 12rem;
    align-items: center;  
}
.rightNav{
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
    align-items: center;
}
.paraText{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.85rem;
}
.topContent{
    max-width: 95%;
    padding-left: 2rem;
    margin-top: 10rem;
}
.search{
    padding-top: 2.5rem;
}
.search input{
    height: 3.5rem;
    width: 34.5rem;
    border: none;
    font-size: 1em;
    padding: 0em 1em;
    outline: none;
}
.search select{
    height: 3.5rem;
    border: none;
    font-size: 1em;
    padding: 0em 1em;
    background-color: white;
    margin: 0rem 0.3rem;
}
.search button{
    padding: 1em 1.5em;
    border: none;
    background-color: black;
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
     border-radius: 10px;
}
.search button:hover{
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}
.topContent p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 1rem 0.2rem;
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 4rem auto; 
}

.cardItems img{
    width: 29rem;
    height: 17rem;
}
.cardItems img:hover{
    opacity: 0.9;
    cursor: pointer;
}

.cardItems p{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.8rem;
    display: inline-block;
}
.cardItems p:hover{
    color: rgb(69, 69, 69);
    cursor: pointer;
}

.map{
    max-width: 95%;
    margin: auto;
}
.mapHead{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;  
}
.mapText{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem auto;
}
.alignRight:hover{
    color: rgb(69, 69, 69);
    cursor: pointer;   
}
.map img{
    height: 23rem;
    width: 100%;
}
.countries{
    max-width: 95%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    border-bottom: 1px rgba(128, 128, 128, 0.252) solid;
}
.countriesList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.col{
    font-family:Arial, Helvetica, sans-serif ;
    color:rgb(30, 30, 30);
    line-height: 3rem;
    font-size: 1rem;
    width: 25%;
}
.col1{
    font-family:Arial, Helvetica, sans-serif ;
    color:rgb(30, 30, 30);
    line-height: 3rem;
    font-size: 1rem;
    width: 25%;
}
.countries p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.2rem; 
    margin: 1.5rem auto;
    color: rgb(105, 105, 105);
}
.footerIcons img{
    width: 9.5rem;
    height: 2.7rem;
    padding: 0rem 0.4rem;
    margin-top: 8rem;
}
.footer{
    border-bottom: 1px rgba(128, 128, 128, 0.252) solid;
    margin: 1rem auto;
    padding-bottom: 2rem;
}
.container{
    max-width: 90rem;
    margin: auto;
}
.footerContent ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footerContent:first-child{
    width: 50%;
    padding: 0 1rem;
}
.footerContent:not(:first-child){
    width: 25%;
    padding: 0 1rem;
}
.footerContent ul li:not(:last-child){
    margin-bottom: 1rem;
}
.footerContent ul li a{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 11, 11);
    display: inline;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.footerContent ul li a:hover{
    color: rgb(40, 40, 40);
    padding-left: 0.8rem;
}

@media (max-width:813px){
    .search select{
        margin-top: 2rem;
    }
    .topContent{
        margin-top: 5rem;
    }

    
}
@media (max-width:787px){
  
    .footerContent:first-child{
        width: 100%;
        margin-bottom: 5rem;
    }
    .footerContent:not(:first-child){
        width: 50%;
    }
    .col{
        width: 50%;
        margin-bottom: 1rem;
    }
    .col1{
        width: 50%;
        margin-bottom: 1rem;
    }
    .countries{
       text-align: center;
    }
    .map img{
        height: 12rem;
        width: 100%;
    }
    .footer img{
        margin-top: 2rem;
    }
   
    
}

@media (max-width:480px){

    .footerContent:not(:first-child){
        width: 100%;
        margin-bottom: 1rem;
    }
    .col{
        width: 34%;
        margin-bottom: 1rem;
    }
    .col1{
        width: 34%;
        margin-bottom: 1rem;
    }
    .countries{
        text-align: left;
     }
     .map img{
        height: 8rem;
        width: 100%;
    }
    .topContent h1{
        font-size: 2.8rem;
    }
    .navItems{
        margin-top: 2rem;
        justify-content: center;
    }
    .topContent p{
        background-color:rgba(255, 255, 255, 0.499);
        padding: 1em;
    }
    .card{
        padding: 0rem 1rem;
    }
    .countriesList{
        justify-content: space-evenly;
    }
}
    @media (max-width:455px)
     {
        .navItems{
            margin-top: 1rem;
            justify-content: space-between;
        }
        .leftNav{
               max-width: 45%;
               justify-content: space-evenly;
        }
        .paraText{
            font-size: 1.5rem;
        }
        .rightNav{
            max-width: 45%;
            justify-content: space-evenly;
        }
        .topContent{
            margin-top: 1.5rem;
        }
    }


